.modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #1513115e;
  z-index: 100;

  &__wrapper {
    width: 500px;
    height: 300px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    flex-direction: column;

    svg {
      stroke: #ff0505 !important;
      width: 35px;
      height: 35px;
      position: absolute;
      top: -40px;
      right: -43px;
      cursor: pointer;
      transition: all 0.3s;

      &:hover {
        stroke: #f2e1e1 !important;
        transition: all 0.3s;
      }
    }
  }

  &__currency {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 25px;
    border-radius: 15px;

    &-item {
      p {
        color: #000;
        font-size: 25px;
        font-family: 'Poppins', sans-serif;
      }

      input {
        width: 100%;
        padding: 5px 10px;
        border: 1px solid #680303;
        border-radius: 6px;
        font-size: 20px;
        outline-color: #5b7808;

        &::placeholder {
          font-size: 14px;
          color: #979292;
        }

        &:focus {
          border-color: #5b7808;
        }
      }
    }
  }

  &__single-block {
    width: 100%;
    display: flex;
    margin-bottom: 20px;
    flex-direction: row;
    justify-content: space-between;
    gap: 0 20px;
  }

  &__btn {
    border-radius: 9px;
    padding: 10px;
    border: 1px solid #000;
    background-color: #580c0c;
    color: #f4f4f4;
    font-size: 21px;
    margin-top: 17px;
  }
}
