*,
*:before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $dark-theme-bckg;
  color: $dark-theme-text-color;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: normal;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul,
li {
  marker: none;
  margin: 0;
  padding: 0;
  color: inherit;
  list-style-type: none;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
  transition: color 0.3s linear;

  &:hover,
  &:active {
    transition: color 0.3s linear;
  }
}

button {
  outline: none;
  cursor: pointer;
}

[data-theme='dark'] {
  a:hover,
  a:active,
  a.active {
    color: $link-hover-dark;
  }
}

[data-theme='light'] {
  background-color: $light-theme-bckg;

  a:hover,
  a.active,
  a.active {
    color: $link-hover-light;
  }
}