$dark-theme-bckg: #030304;
$dark-theme-text-color: #d9d9d9;
$dark-theme-nav-color: #ffffff;

$gradient-color: linear-gradient(
  92deg,
  #00ce2c 0%,
  #aedf23 49.26%,
  #a3dc00 100%
);

$single-item-bckg: #202025;
