.header {
  width: 1240px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding: 31px 0;
  align-items: center;
  gap: 0 245px;

  &-logo {
    height: 41px;
    img {
      width: 40px;
      height: 41px;
      transition: all 0.3s;

      &:hover {
        transform: scale(1.1);
        transition: all 0.3s;
      }
    }
  }

  &-nav {
    & ul {
      display: flex;
      justify-content: space-between;
      gap: 0 100px;

      li {
        color: $dark-theme-nav-color;
        font-size: 20px;
        font-weight: 300;
        line-height: 41.143px;
        transition: all 0.4s;

        &:hover {
          transform: scale(1.1);
          transition: all 0.4s;
        }
      }
    }
  }

  &-toggle {
    &__button {
      position: relative;
      display: inline-block;
      width: 67px;
      height: 37px;
      margin: 0;
      vertical-align: top;
      background: transparent;
      border: 3px solid #fff;
      border-radius: 30px;
      outline: none;
      cursor: pointer;
      appearance: none;
      transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);

      &:hover {
        box-shadow: 0px 0px 10px #76e0db;
        transition: box-shadow 0.3s ease-out;
      }

      &::after {
        content: '';
        display: inline-block;
        position: absolute;
        left: -3px;
        top: -1.5px;
        width: 34px;
        height: 35px;
        background-color: transparent;
        border-radius: 50%;
        border: 3px solid #fff;
        transform: translateX(0);
        transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
      }

      &:checked::after {
        transform: translateX(calc(100% + 0px));
        background-color: #a1dff3;
        border: 3px solid #389dbe;
      }

      &:checked {
        background-color: rgb(253 254 252 / 91%);
        border: 3px solid #389dbe;
      }
    }
  }
}

.info {
  &-wrapper {
    width: 100%;
    position: relative;
  }

  &-inner {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 32px 0 58px;
    width: 100%;
  }

  &-text {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 55.5%;

    h1 {
      text-align: right;
      font-size: 76px;
      font-weight: 600;
      line-height: normal;
      background: $gradient-color;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      margin-right: 64px;
    }

    p {
      color: $dark-theme-text-color;
      font-size: 25px;
      font-weight: 300;
      line-height: 46.772px;
      width: 397px;
      text-align: center;
    }
  }

  &-updated {
    margin-top: 57px;
    display: flex;
    align-items: center;
    justify-content: center;

    p {
      color: $dark-theme-text-color;
      font-size: 32.914px;
      font-weight: 300;
      line-height: 41.143px;
      margin-left: 18px;
    }
  }
}

[data-theme='dark'] {
  .info-wrapper {
    background: $dark-gradient-color;
  }
}

[data-theme='light'] {
  .info-wrapper {
    background: $light-gradient-color;
  }
}
